In [1]:
import math

import wooldridge as woo
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

## Critical Values: t

In [2]:
# degrees of freedom = n-1
df = 19

# significance levels
alpha_one_tailed = np.array([0.1, 0.05, 0.025, 0.01, 0.005, 0.001])
alpha_two_tailed = alpha_one_tailed * 2

# critical values and table
CV = stats.t.ppf(1 - alpha_one_tailed, df)
table = pd.DataFrame({'alpha_one_tailed': alpha_one_tailed,
                      'alpha_two_tailed': alpha_two_tailed, 'CV': CV})
table

   alpha_one_tailed  alpha_two_tailed        CV
0             0.100             0.200  1.327728
1             0.050             0.100  1.729133
2             0.025             0.050  2.093024
3             0.010             0.020  2.539483
4             0.005             0.010  2.860935
5             0.001             0.002  3.579400